html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
.top-bar {
    height: 45px;
    position: fixed;
    background: white;
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
    z-index: 100;
}
.top-bar .btn {
    margin: 5px 0 5px 5px;
}
.tab {
    position: absolute;
    width: 25%;
    height: 45px;
}
#unwatched {
    left: 25%;
}
#watched {
    left: 50%;
}
.tab .text {
    font-weight: 300;
    font-size: large;
    border-bottom: solid;
    border-color: transparent;
    height: 100%;
    padding-top: 15px;
    text-align: center;
}
#all-done, #all-undone {
    float: right;
    max-width: 45px;
}
#all-done {
    padding-left: 10px;
}
input[type='radio']:checked + .tab .text {
    border-color: black;
    font-weight: 600;
}
#tab-unwatched:checked ~ button + button,
#tab-watched:checked ~ button,
input[type='radio'] {
    display: none;
}
#tab-watched:checked ~ button + button {
    display: inline;
}
.post-auth {
    display: none;
}
#settings-toggle, .settings {
    display: none;
}
#settings-toggle:checked + .settings {
    display: block;
}
.settings {
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 4px;
    z-index: 100;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
}
.settings label ~ label {
    display: block;
    font-weight: normal;
    margin: 5px 0;
}
.settings label input {
    display: inline;
    margin: 0 7px;
    width: 60px;
}
.settings label .note {
    padding-left: 5px;
}
.settings .note {
    display: inline;
    font-style: italic;
}
#autoplay, #expand {
    margin: 0;
    width: 40px;
}
input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding-top: 10px;
}
.videos {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    padding-top: 55px;
}
.no-videos {
    background-color: lightgray;
    color: grey;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 10px;
}
.video-container {
    background-color: white;
    margin: 0 10px 10px 10px;
}
.video, .video-info, .side-buttons {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}
.video {
    width: 50%;
    height: 340px;
    position: relative;
}
.video .thumbnail {
    overflow: hidden;
    height: 100%;
}
.video img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}
.video::after {
    content: '';
    background: linear-gradient(black 10px, transparent);
    height: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1;
}
.video p {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    color: white;
    font-family: sans-serif;
    font-size: large;
    z-index: 2;
}
.video i {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
    color: white;
    z-index: 3;
}
.video-info {
    width: 43%;
    position: relative;
}
.video-info .description {
    overflow: hidden;
    max-height: 100%;
}
.video-info label {
    width: 100%;
}
.video-info span {
    color: gray;
    padding-left: 40%;
}
.truncated,
.truncated:checked ~ label > span + span,
.truncated ~ label > span:first-child,
.video-info:not(.long) label
{
    display: none;
}
.truncated:checked ~ label > span {
    display: inline;
}
.truncated:checked ~ .description {
    max-height: 250px;
}
.long .truncated:checked ~ .description:before {
    content: '';
    background: linear-gradient(transparent, white);
    width: 100%;
    height: 25%;
    position: absolute;
    top: 65%;
    left: 0;
    bottom: 10px;
    z-index: 1;
}
.video-info .upload-date {
    color: gray;
}
.side-buttons {
    width: 7%;
}
.side-buttons .btn {
    width: 60px;
    margin-bottom: 5px;
}
.side-buttons .done {
    padding-left: 8px;
}
.expanded,
.side-buttons label > div + div,
.expanded:checked ~ .side-buttons label > div
{
    display: none;
}
.expanded:checked ~ .side-buttons label > div + div {
    display: inline-block;
}
.expanded:checked ~ .video {
    width: 100%;
}
.expanded:checked ~ .video-info {
    width: 93%;
}