$top-bar-height: 45px
$video-height: 340px

html
  // Always display the scroll bar.
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll

.top-bar
  position: fixed
  z-index: 100
  padding-right: 10px
  padding-left: 5px
  width: 100%
  height: $top-bar-height
  background: white

  .btn
    margin: 5px 0 5px 5px
    width: 38px

  .tab
    position: absolute
    width: 20%
    height: $top-bar-height

    .text
      padding-top: 15px
      height: 100%
      border-bottom: solid
      text-align: center
      font-size: large
      border-color: transparent
      font-weight: 300

    input:checked + .text
      border-color: black
      font-weight: 600

  #unwatched
    left: 20%

  #watched
    left: 40%

  #blocked
    left: 60%

  .mark-all
    float: right

  input[type='radio']
    display: none

#settings-toggle, .settings
  display: none

#settings-toggle:checked + .settings
  display: block

.settings
  position: fixed
  top: 5px
  left: 5px
  z-index: 100
  padding: 4px
  border: 2px solid black
  border-radius: 7px
  background-color: white

  label ~ label
    display: block
    font-weight: normal

  label input[type=number]
    width: 60px
    margin: 2px

  label .note
    padding-left: 5px

  .note
    display: inline
    font-style: italic

.videos
  padding-top: $top-bar-height + 10px
  width: 100%
  height: 100%
  background-color: lightgray

  .video-list
    .video-container
      margin: 0 10px 10px 10px
      background-color: white

      .video, .video-info, .side-buttons
        display: inline-block
        padding: 10px
        vertical-align: top

      .video
        position: relative
        width: 50%
        height: $video-height

        .thumbnail
          height: 100%
          background-size: cover
          background-position: center

        &:after
          position: absolute
          top: 10px
          right: 10px
          left: 10px
          z-index: 1
          height: 50%
          background: linear-gradient(black 10px, transparent)
          content: ''

        p
          position: absolute
          z-index: 2
          padding: 5px 20px 5px 5px
          width: 100%
          color: white
          font-size: large
          font-family: sans-serif

        i
          position: absolute
          top: 45%
          left: 45%
          z-index: 3
          width: 10%
          height: 10%
          color: white

      .video-info
        position: relative
        width: calc(50% - 90px)

        .upload-date
          color: gray

        .description
          overflow: hidden
          max-height: 100%

        label
          width: 100%

          span
            padding-left: 40%
            color: gray

        // Read more/less controls
        input, &:not(.long) label
          display: none

        // Don't allow the description to be so long if truncated.
        .description.truncated
          max-height: 250px

        &.long .truncated:before
          position: absolute
          top: 65%
          bottom: 10px
          left: 0
          z-index: 1
          width: 100%
          height: 25%
          background: linear-gradient(transparent, white)
          content: ''

      .side-buttons
        width: 80px

        .btn
          margin-bottom: 5px
          width: 80px - 20px

        input
          display: none

      &.expanded
        .video
          width: 100%

        .video-info
          width: calc(100% - 90px)

  .no-videos
    padding-bottom: 10px
    background-color: lightgray
    color: grey
    text-align: center
    font-family: sans-serif

.fa-check
  margin-left: -2px
.fa-check.fa-3x
  margin-left: -4px

h4
  font-family: sans-serif
  font-weight: 600

.filter-panel
  width: 560px

  .header
    width: 100%
    margin-left: 5px
    div
      font-weight: 600
      color: #777
      display: inline-block

  .row
    margin-left: 0
  .row > *
    margin: 2px
    display: inline-block

  .author
    width: 150px

  .type
    width: 80px

  .regex
    width: 220px

.form-control
  padding: 0
