html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

.top-bar {
  position: fixed;
  z-index: 100;
  padding-right: 10px;
  padding-left: 5px;
  width: 100%;
  height: 45px;
  background: white; }
  .top-bar .btn {
    margin: 5px 0 5px 5px; }
  .top-bar .tab {
    position: absolute;
    width: 20%;
    height: 45px; }
    .top-bar .tab .text {
      padding-top: 15px;
      height: 100%;
      border-bottom: solid;
      text-align: center;
      font-size: large; }
  .top-bar #unwatched {
    left: 20%; }
  .top-bar #watched {
    left: 40%; }
  .top-bar #blocked {
    left: 60%; }
  .top-bar #all-done, .top-bar #all-undone {
    float: right;
    max-width: 45px; }
  .top-bar input[type='radio']:checked + .tab .text {
    border-color: black;
    font-weight: 600; }
  .top-bar input[type='radio']:not(:checked) + .tab .text {
    border-color: transparent;
    font-weight: 300; }
  .top-bar input[type='radio'],
  .top-bar #tab-unwatched:checked ~ #all-undone,
  .top-bar #tab-watched:checked ~ #all-done,
  .top-bar #tab-blocked:checked ~ button {
    display: none; }

.post-auth {
  display: none; }

#settings-toggle, .settings {
  display: none; }

#settings-toggle:checked + .settings {
  display: block; }

.settings {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 100;
  padding: 4px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: white; }
  .settings label ~ label {
    display: block;
    margin: 5px 0;
    font-weight: normal; }
  .settings label input {
    display: inline;
    margin: 0 7px;
    width: 60px; }
  .settings label .note {
    padding-left: 5px; }
  .settings .note {
    display: inline;
    font-style: italic; }

#autoplay, #expand {
  margin: 0;
  width: 40px; }

input[type=checkbox] {
  /* Double-sized Checkboxes */
  padding-top: 10px;
  /* IE */
  -webkit-transform: scale(1.5);
  /* FF */
  -moz-transform: scale(1.5);
  /* Safari and Chrome */
  -ms-transform: scale(1.5);
  /* Opera */
  -o-transform: scale(1.5); }

.videos {
  padding-top: 55px;
  width: 100%;
  height: 100%;
  background-color: lightgray; }
  .videos .video-list .video-container {
    margin: 0 10px 10px 10px;
    background-color: white; }
    .videos .video-list .video-container .video, .videos .video-list .video-container .video-info, .videos .video-list .video-container .side-buttons {
      display: inline-block;
      padding: 10px;
      vertical-align: top; }
    .videos .video-list .video-container .video {
      position: relative;
      width: 50%;
      height: 340px; }
      .videos .video-list .video-container .video .thumbnail {
        overflow: hidden;
        height: 100%; }
      .videos .video-list .video-container .video img {
        position: relative;
        top: 50%;
        z-index: 0;
        width: 100%;
        transform: translateY(-50%); }
      .videos .video-list .video-container .video:after {
        position: absolute;
        top: 10px;
        right: 10px;
        left: 10px;
        z-index: 1;
        height: 50%;
        background: linear-gradient(black 10px, transparent);
        content: ""; }
      .videos .video-list .video-container .video p {
        position: absolute;
        z-index: 2;
        padding: 5px 20px 5px 5px;
        width: 100%;
        color: white;
        font-size: large;
        font-family: sans-serif; }
      .videos .video-list .video-container .video i {
        position: absolute;
        top: 45%;
        left: 45%;
        z-index: 3;
        width: 10%;
        height: 10%;
        color: white; }
    .videos .video-list .video-container .video-info {
      position: relative;
      width: calc(50% - 80px); }
      .videos .video-list .video-container .video-info .upload-date {
        color: gray; }
      .videos .video-list .video-container .video-info .description {
        overflow: hidden;
        max-height: 100%; }
      .videos .video-list .video-container .video-info label {
        width: 100%; }
        .videos .video-list .video-container .video-info label span {
          padding-left: 40%;
          color: gray; }
      .videos .video-list .video-container .video-info .truncated,
      .videos .video-list .video-container .video-info .truncated:checked ~ label > span + span,
      .videos .video-list .video-container .video-info .truncated:not(:checked) ~ label > span:first-child, .videos .video-list .video-container .video-info:not(.long) label {
        display: none; }
      .videos .video-list .video-container .video-info .truncated:checked ~ .description {
        max-height: 250px; }
      .videos .video-list .video-container .video-info.long .truncated:checked ~ .description:before {
        position: absolute;
        top: 65%;
        bottom: 10px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 25%;
        background: linear-gradient(transparent, white);
        content: ""; }
    .videos .video-list .video-container .side-buttons {
      width: 80px; }
      .videos .video-list .video-container .side-buttons .btn {
        margin-bottom: 5px;
        width: 60px; }
    .videos .video-list .video-container .expanded,
    .videos .video-list .video-container .expanded:checked ~ .side-buttons label > div:first-child,
    .videos .video-list .video-container .expanded:not(:checked) ~ .side-buttons label > div + div {
      display: none; }
    .videos .video-list .video-container .expanded:checked ~ .video {
      width: 100%; }
    .videos .video-list .video-container .expanded:checked ~ .video-info {
      width: calc(100% - 80px); }
  .videos .no-videos {
    padding-bottom: 10px;
    background-color: lightgray;
    color: grey;
    text-align: center;
    font-family: sans-serif; }

.fa-check {
  padding-left: -2px; }

.fa-check.fa-3x {
  margin-left: -4px; }

h4 {
  font-family: sans-serif;
  font-weight: 600; }

.filter-panel {
  width: 550px; }
  .filter-panel .header {
    width: 100%;
    margin-left: 5px; }
    .filter-panel .header div {
      font-weight: 600;
      color: #777;
      display: inline-block; }
  .filter-panel .row {
    margin-left: 0; }
  .filter-panel .row > * {
    margin: 2px;
    display: inline-block; }
  .filter-panel .author {
    width: 150px; }
  .filter-panel .type {
    width: 80px; }
  .filter-panel .regex {
    width: 220px; }

.form-control {
  padding: 0; }

/*# sourceMappingURL=index.css.map */
