$top-bar-height: 45px
$video-height: 300px
$tab-count: 3

html
  // Always display the scroll bar.
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll

.top-bar
  position: fixed
  z-index: 100
  padding-right: 10px
  padding-left: 5px
  width: 100%
  height: $top-bar-height
  background: white

  .btn
    margin-top: 5px
    width: 38px
    margin-right: 5px
    &:last-child
      margin-right: 0

  $tab-width: 100% / ($tab-count + 2)
  .tab
    position: absolute
    width: $tab-width
    height: $top-bar-height

    .text
      padding-top: 15px
      height: 100%
      border-bottom: solid
      text-align: center
      font-size: large
      border-color: transparent
      font-weight: 300

      &.selected
        border-color: black
        font-weight: 600

  @for $index from 1 through $tab-count
    .tab:nth-child(#{$index})
      left: $tab-width * $index

.videos
  padding-top: $top-bar-height
  width: 100%
  height: 100%

  .video-list
    .video-container
      $side-buttons-width: 70px
      $container-padding: 5px
      $background-odd: whitesmoke
      $background-even: white

      .video, .video-info, .side-buttons
        display: inline-block
        padding: $container-padding
        vertical-align: top

      .video
        position: relative
        height: $video-height
        width: $video-height * 1.75

        &:after
          position: absolute
          top: $container-padding
          right: $container-padding
          left: $container-padding
          bottom: $container-padding
          z-index: 1
          background: linear-gradient(black -10%, transparent 20%, transparent 80%, black 110%)
          content: ''

        .thumbnail
          height: 100%
          background-size: cover
          background-position: center

          *
            position: absolute
            color: white
            z-index: 2
          .title
            padding: 5px
            margin-right: 15px
            font-size: large
          .play-icon
            top: 45%
            left: 45%
          .duration
            bottom: 10px
            right: 20px

      .video-info
        position: relative
        width: calc(100% - #{$video-height * 1.75 + $side-buttons-width})
        min-height: $video-height
        max-height: 1000px
        transition: max-height 1s
        overflow: hidden

        .upload-date
          color: grey

        .description
          margin-bottom: 30px

        .show
          position: absolute
          bottom: 5px
          width: 100%
          z-index: 1

          div
            text-align: center
            color: grey
            margin-top: 5px

        // Don't allow the description to be so long if truncated.
        &.truncated
          max-height: $video-height

          &:before
            position: absolute
            top: 70%
            bottom: 0
            left: 0
            right: 0
            z-index: 1
            content: ''

      .side-buttons
        width: $side-buttons-width
        float: right

        .btn
          margin-bottom: 5px
          width: 100%

      &:nth-child(odd)
        background: $background-odd
        .truncated:before
          background: linear-gradient(transparent 0%, $background-odd 80%)
      &:nth-child(even)
        background: $background-even
        .truncated:before
          background: linear-gradient(transparent 0%, $background-even 80%)

  .no-videos
    padding: 10px
    background-color: lightgrey
    color: grey
    text-align: center

.player
  position: fixed
  top: $top-bar-height + 5px
  z-index: 50
  display: inline-block

  transition: left 1s
  left: -640px
  &.visible
    left: 0
  &.disabled
    left: -1000px

  .iframe
    padding: 5px 0
    border-bottom-right-radius: 5px
    background: black
    display: inline-block
  .toggle-video
    position: absolute
    padding-left: 2px
    width: 24px
    height: 27px
    background: black
    display: inline-block
    top: 0
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    i
      color: white

.settings
  position: fixed
  top: $top-bar-height + 5px
  left: 5px
  z-index: 101
  padding: 5px
  border: 2px solid black
  background-color: white
  max-height: 80%
  overflow-x: hidden
  overflow-y: auto
  width: 530px

  input[type=number]
    width: 60px
    margin: 2px
    display: inline

  .header
    width: 100%
    span
      font-weight: 600
      color: grey
      display: inline-block

  .row:nth-child(even)
    background: whitesmoke
  .row:nth-child(odd)
    background: ghostwhite

  .row
    margin-left: 0
  .row > *
    margin: 2px
    display: inline-block

  .filter-panel
    .author
      width: 150px
    .type
      width: 100px
    .regex
      width: 220px

  .additional-channels-panel
    .name
      width: 475px
    .add-channel
      padding-top: 5px

i.fa-fw
  margin-left: -3px
i.fa-fw.fa-3x
  margin-left: -9px