#video-container.video-container.row(class='{{#if expanded}}expanded{{/if}}')

  #video.video(on-click='play')
    .thumbnail(style='background-image: url({{thumbnail}})')
      p.title {{title}}
      i.play-icon.fa.fa-play.fa-3x
      p.duration {{formatDuration(duration)}}

  .video-info
    .author
      a(href='http://www.youtube.com/channel/{{authorId}}', target='_blank') {{author}}
    .upload-date uploaded at {{formatDate(publishedDate)}}
    .description(class='{{#if truncated}}truncated{{/if}}')
      | {{#each paragraphs(description)}}
      p {{{this}}}
      | {{/each}}
    label
      input.hidden(type='checkbox', checked='{{truncated}}')
      div {{#if truncated}}Read more{{else}}Read less{{/if}}

  .side-buttons
    | {{#if !blocked(this.id)}}
    | {{#if !watched}}
    button#mark.btn.btn-default(title='Mark as watched', on-click='mark')
      i.fa.fa-check.fa-3x.fa-fw
    | {{else}}
    button.btn.btn-default(title='Mark as unwatched', on-click='mark')
      i.fa.fa-remove.fa-3x.fa-fw
    | {{/if}}
    | {{/if}}

    a.youtube-watch.btn.btn-default(title='Watch on YouTube', href='https://www.youtube.com/watch?v={{id}}', target='_blank')
      i.fa.fa-youtube.fa-3x.fa-fw

    label
      input#expand.hidden(type='checkbox', checked='{{expanded}}')
      | {{#if expanded}}
      .btn.btn-default(title='Compress Video')
        i.fa.fa-compress.fa-3x.fa-fw
      | {{else}}
      .btn.btn-default(title='Expand Video')
        i.fa.fa-expand.fa-3x.fa-fw
      | {{/if}}
